<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/"><span>BHM</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <!--%= link_to "商品一覧", admin_items_path, class: 'btn nav-link text-light mr-3' %-->
          </li>
          <li>
            <%= link_to "ユーザー一覧", admin_users_path, class: 'btn nav-link text-light mr-3' %>
          </li>
          <li>
            <!--%= link_to "注文履歴一覧", admin_orders_path, class: 'btn nav-link text-light mr-3' %-->
          </li>
          <li>
            <!--%= link_to "ジャンル一覧", admin_genres_path, class: 'btn nav-link text-light mr-3' %-->
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn nav-link text-light mr-3' %>
          </li>
        <% else %>
          <li>
            <%= link_to "About", about_path, class: 'btn nav-link text-light mr-5' %>
          </li>
          <li>
            <!--%= link_to "商品一覧", items_path, class: 'btn nav-link text-light mr-5' %-->
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'btn nav-link text-light mr-5' %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: 'btn nav-link text-light' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>