<div class='container'>
  <div class="row">
    <div class='row'>
     <h2 class="text-center mt-5"><%= @user.name %>さんの会員詳細</h2>
       <table class ="table table-borderless">
          <tr>
            <td>会員ID</td><td><%= @user.id %></td>
          </tr>
          <tr>
            <td>画像</td><td><%= image_tag @user.get_image(50, 50) %></td>
          </tr>
          <tr>
            <td>氏名</td><td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td><td><%= @user.email %></td>
          </tr>
          <tr>
            <td>ユーザーステータス</td>
            <td>
              <% if @user.active_for_authentication? %>
                <p class="text-success font-weight-bold">有効</p>
              <% else %>
                <p class="text-secondary font-weight-bold">退会</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to "編集する",edit_admin_user_path,class: 'btn btn-success mr-5' %>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>