<div class= "container">
  <div class ="row" style="margin-left: 300px; margin-right: 300px;">
    <div class="border mt-4" style="width: 500px;	height: 600px;">
      <div class="col-12">
       <h2 class= "text-center mt-5 mb-3 ml-3 font-weight-bold">ログイン</h2>
        <p class="text-center">会員の方はこちらからログイン</p>

        <%= render "devise/shared/error_messages", resource: resource %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-center">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'col-sm-6 ml-3', placeholder:"名前" %>
        </div>

        <div class="field mt-4 text-center ">
          <%= f.password_field :password, autocomplete: "current-password", class:'col-sm-6 ml-3', placeholder:"パスワード" %>
        </div>

        <div class="actions text-center d-grid gap-2">
          <%= f.submit "ログイン", class: 'mt-5 btn btn-success w-50' %>
        </div>
     <% end %>

       <h5 class= "text-center mt-5 mb-3 font-weight-bold">会員登録がお済みでない方</h5>
       <p class= "text-center mt-3 mb-3 font-weight-bold"><%= link_to "こちら", new_user_registration_path, class:'text-info ' %>から新規登録を行なってください。</p>
    </div>
   </div>
  </div>
</div>


