<!DOCTYPE html>
<html>
  <head>
    <title>BaseballHiroshimaMomiji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/public/header' %>
    <% elsif %>
      <%= render 'layouts/admin/header' %>
    <% else %>
      <%= render 'layouts/public/header' %>
    <% end %>

    <main>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="d-flex justify-content-center mb-2">
          <%= render 'user/searches/search' %>
        </div>
      <%= yield %>
    </main>
  </body>
</html>
